body {
    background-color: black;
    color: lime;
    font-family: monospace;
    white-space: pre;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: lime;
    text-align: center;
    padding: 10px;
    font-family: monospace;
}
#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 2s;
}
#logo.small {
    top: 0;
    transform: translate(-50%, 0) scale(0.5);
} 
#title {
    text-align: center;
    transform: scale(0.5);
    transform-origin: center;
}
#content {
    text-align: left;
}
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}
@media (min-width: 601px) {
    body {
        font-size: 18px;
    }
}
@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes smoothScroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
.prompt {
    animation: blink 1s infinite;
}
.clickable {
    text-decoration: underline;
    cursor: pointer;
}