body {
    background-color: black;
    color: lime;
    font-family: monospace;
    white-space: pre;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: lime;
    text-align: center;
    padding: 10px;
    font-family: monospace;
} 
#title {
    text-align: center;
    transform: scale(0.5);
    transform-origin: center;
}
#content {
    text-align: left;
}
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}
@media (min-width: 601px) {
    body {
        font-size: 18px;
    }
}
@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
.prompt {
    animation: blink 1s infinite;
}
.clickable {
    text-decoration: underline;
    cursor: pointer;
}